.wrapper {
  @apply relative flex justify-center 
bg-[length:70%] bg-top bg-no-repeat sm:w-[296px]
  sm:bg-[url('../../../static/img/hands2.svg')] sm:px-2
   sm:pt-[90px] md:w-[546px] md:bg-[url('../../../static/img/hands.svg')] md:px-8 md:pt-[155px] xl:w-[536px];
}

.pinkRectangle {
  @apply absolute  -z-20 rounded-[20px]  bg-rose-600 
    sm:top-[75px] sm:h-[117px] sm:w-[296px] md:top-[120px] md:h-[208px]
     md:w-[546px]
xl:w-[536px];
}

.pinkRectangleBg {
  box-shadow: 0px 25px 50px -12px rgba(14, 165, 233, 0.2),
    inset -5px -4px 40px rgba(255, 255, 255, 0.5),
    inset 5px 4px 40px rgba(255, 255, 255, 0.5);
}

/* .infoBlock {
  @apply max-h-[368px] min-h-[368px] w-full rounded-[20px] px-5 pt-[30px] text-center;
} */
.infoBlock {
  @apply w-full rounded-[20px] text-center sm:max-h-[282px] sm:min-h-[282px] sm:w-[272px] sm:px-2 sm:pt-[34px]
 md:max-h-[440px] md:min-h-[440px] md:w-[546px]   md:px-5 md:pt-[72px] xl:w-[536px];
}
.infoBlock tbody {
  @apply w-full overflow-y-auto;
}

.infoBlockBg {
  background: rgba(250, 250, 250, 0.3);
  border: 1px solid #fafafa;
  box-shadow: 0px 0px 19px 5px rgba(52, 101, 123, 0.15),
    inset -20px -20px 40px rgba(255, 255, 255, 0.2),
    inset 20px 20px 40px rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
}
.cardTitle {
  @apply font-adigiana leading-[100%] tracking-[0.02em] text-[#FAFAFA] sm:mb-3 sm:text-[28px] md:mb-4 md:text-[36px];
}

table {
  @apply w-full text-left;
}
.thead {
  @apply text-base font-light tracking-[-0.019em] text-white  md:h-[56px];
}

.trow {
  @apply sm:h-11 sm:text-sm sm:tracking-[-0.019em] md:h-[64px] md:text-xl md:tracking-[0.04em];
}
.trow:not(:last-child) {
  border-bottom: 1px solid rgba(252, 213, 219, 1);
}

.logo {
  @apply absolute left-1/2  translate-x-[-50%] translate-y-[-50%]
   rounded-[50%] border-[1px] border-[#FFCFD6] bg-neutral-50 
   shadow-[0px_0px_19px_5px_rgba(227,112,139,0.2)] sm:top-[75px] sm:h-[82px] sm:w-[82px] md:top-[120px] md:h-[166px]
   md:w-[166px];
}
.logoBg {
  @apply bg-[url("../../../static/img/boy.svg")]
  bg-[length:80%] 
    bg-center bg-no-repeat;
}
