@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Ukraine";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url(/fonts/e-Ukraine-Regular.otf) format("opentype");
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Ukraine";
}

@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/lazy";
@import "swiper/css/autoplay";
@import "swiper/css/effect-cards";

.heroContainer {
  @apply px-0 xl:h-[700px];
}
.buttonNextHero {
  @apply absolute top-0 left-0 z-20 flex h-full w-8 cursor-pointer items-center justify-center transition-all hover:bg-slate-400 hover:opacity-60;
}
.buttonPrevHero {
  @apply absolute right-0 top-0 z-20 flex h-full w-8 cursor-pointer items-center justify-center transition-all  hover:bg-slate-400 hover:opacity-60;
}
