@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Ukraine";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url(/fonts/e-Ukraine-Regular.otf) format("opentype");
}
@font-face {
  font-family: "Adigiana";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url(/fonts/Adigiana_Extreme.ttf) format("truetype");
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Ukraine";
}

@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/lazy";
@import "swiper/css/autoplay";
@import "swiper/css/effect-cards";

/* ======== swiper gallery styles ======== */
.gallerySwiper {
  @apply items-center sm:w-[280px] sm:max-w-[280px] md:w-[728px] md:max-w-[728px] xl:h-[436px] xl:w-[1280px] xl:min-w-[1280px];
}
.wrapperGallery .swiper-pagination {
  @apply bottom-0;
}
.wrapperGallery .swiper-pagination-bullet {
  @apply h-4  w-4 bg-rose-400 opacity-100;
}
.wrapperGallery .swiper-pagination-bullet-active {
  @apply bg-sky-500;
}

/* ======== swiper team styles ======== */
.wrapperTeam {
  @apply max-h-24 min-h-full  truncate sm:w-[280px] md:w-[300px] xl:h-[90px] xl:w-[260px];
}
.buttonNextCertificate {
  @apply ml-6 flex h-24 w-6 cursor-pointer items-center justify-center rounded-[5px] bg-[rgba(245,245,245,0.5)] transition-all hover:bg-sky-500 hover:fill-white hover:text-white;
}
.buttonNextCertificate {
  /* background: rgba(245, 245, 245, 0.5); */
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1),
    0px 2px 4px -2px rgba(0, 0, 0, 0.1);
}

/* ======== swiper hero styles ======== */
.wrapperHero {
  @apply absolute -z-10 max-h-[700px]  truncate sm:w-[280px] md:w-[728px] xl:w-[1200px];
}
.buttonPrevHero {
  @apply absolute top-1/2 left-24 z-20 flex h-16 w-16 cursor-pointer items-center justify-center rounded-[50%] transition-all hover:bg-sky-500 hover:fill-white hover:text-white;
}
.buttonNextHero {
  @apply absolute right-24 top-1/2 z-20 flex h-16 w-16 cursor-pointer items-center justify-center rounded-[50%] transition-all hover:bg-sky-500 hover:fill-white hover:text-white;
}

/* ======== team certificate modal styles ======== */
.ReactModal__Body--open {
  overflow: hidden;
}
.ReactModal__Overlay {
  overflow: auto;
  opacity: 0;
  transform: translateY(-10%);
  transition: opacity 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95),
    transform 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateY(0);
}
.ReactModal__Overlay--before-close {
  transform: translateY(-10%);
  opacity: 0;
}
