.cardBg {
  background-image: url("../../img/directions/directions-card-bg@1x.png");
  background-repeat: no-repeat;
  background-position: 50% 35%;
  background-size: 319px 360px;
}

.textShadow {
  text-shadow: 2px 2px 0px #000000;
}
