.bgWrapper {
  background: url("../../../static/img/team-member-mobile-bg.svg") no-repeat
    center/contain;
}
.bgWrapper {
  @apply smOnly:pt-6 smOnly:pb-4;
}
.wrapper {
  background: rgba(253, 253, 253, 0.8);
  border: 1px solid #ffffff;
  box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.15),
    inset -5px -4px 13px #dae9ef, inset 5px 4px 13px #dae9ef;
}
.wrapper:not(:last-child) {
  @apply xl:mb-10;
}
.wrapper {
  @apply flex w-full sm:rounded-[20px] sm:px-3 sm:py-5 sm:backdrop-blur-sm md:backdrop-blur-md xl:p-10 notXl:flex-col;
}

.photo {
  @apply truncate rounded-[20px] smOnly:mb-4  md:ml-6
 md:h-[240px] md:w-[220px];
}
.textBlock {
  @apply smOnly:mb-6 xl:mr-6 xl:w-[450px];
}
.name {
  @apply w-full   text-2xl font-medium 
  sm:mb-2;
}
.specification {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  width: 100%;
}
.experience {
  width: 100%;
}
.caruselWrapper {
  @apply w-full self-center;
}
.caruselNavigationWrapper {
  @apply relative flex items-center sm:max-h-[108px];
}
.sertificates {
  @apply tracking-[0.04em] smOnly:text-sm sm:mb-2 xl:text-xl;
}
