.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90vh;
}

.overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
}
.contentWrapper {
  position: relative;
  display: flex;
  height: 100%;
}
.closeButton {
  position: absolute;
  right: 30px;
  top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
}
